table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 1200px !important;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.text-left{
    text-align: left;
}

table .bonus .checked{
    color: orange;
}